<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/normalise.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Publicly-Listed AWS Accounts</h1>
      </header>
      <table id="table" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Account ID</th>
            <th>Owner</th>
            <th>Description</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          <% accounts.forEach(function(acc){ %>
              <tr>
                <td><%= acc.id %></td>
                <td><%= acc.owner %></td>
                <td><%= acc.description %></td>
                <td><a href="<%= acc.source %>" target="_blank">Link</a></td>
              </tr>
          <%  }); %>
        </tbody>
      </table>
    </div>
  </body>
  <script>
    $(document).ready(function() {
      var table = $('#table').DataTable({
        pageLength: 25,
        order: [
          [1, 'asc']
        ]
      });
    });
  </script>
</html>
